{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="i61gKcWm4PR4_TdxNTld3wJjGgCzjGI2Uhw50M6TARw" />
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <title>Quidditch Austria - {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'landing/images/favicon.png' %}" />

    {% block css %}
        <!--Core CSS -->
        <link rel="stylesheet" href="{% static 'landing/css/bulma.css' %}">
        <link rel="stylesheet" href="{% static 'landing/css/app.css' %}">
        <link rel="stylesheet" href="{% static 'landing/css/core_flashy.css' %}">
    {% block extra_css %}{% endblock extra_css %}
    {% endblock css %}

</head>
<body>
<div class="pageloader"></div>
<div class="infraloader is-active"></div>


{% block header %}

{% endblock header %}

{% block hero %}{% endblock hero %}

{% block messages %}
    {% if messages %}
        <div class="messages columns is-desktop">
            <div class="column is-12">
                {% for message in messages %}
                    <div class="message {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
                        <div class="message-body">{{ message }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock messages %}

{% block content_area %}
    {% block content_title %}{% endblock content_title %}
    {% block content %}{% endblock content %}
{% endblock content_area %}

{% block modal %}{% endblock modal %}

{% block footer %}

    <!-- Dark footer -->
    <footer id="dark-footer" class="footer footer-dark">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Disclaimer</h3>
                        </div>
                        <div>Quidditch Austria and its activities are not licensed by, sponsored by or associated with Warner Bros., J.K. Rowling or their affiliates. ‘Quidditch,’ ‘Harry Potter’ and all related names, characters and indicia are trademarks of © Warner Bros. – Harry Potter publishing  rights © J.K. Rowling.</div>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Quidditch Austria</h3>
                        </div>
                        <ul class="link-list">
                            <li>Österreichischer Quidditch Verband</li>
                            <li>ZVR-Zahl: 1847937074</li>
                            <li>Steinergasse 12</li>
                            <li>1230 Wien</li>
                            <li>info @ quidditch.at</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Materialien</h3>
                        </div>
                        <ul class="link-list">
                            <li><a href="https://iqasport.org/wp-content/uploads/2020/10/Rulebook-20.pdf" target="_blank">Aktuelles Regelwerk</a></li>
                            <li><a href="https://drive.google.com/file/d/17jvwUgr-VOSZxKNsJL3X0FohWLD02aiT/view?usp=sharing" target="_blank">Reisekostenabrechnung</a></li>
                            <li><a href="#">Referee Materialien</a></li>
                            <li><a href="https://drive.google.com/drive/folders/1fcHdCyHv0k3A2RyiKyh1VXcf_qhsRcd2?usp=sharing" target="_blank">Meeting Protokolle</a></li>
                            <li><a href="https://drive.google.com/file/d/1Y76IG_xaauW_0WvSBMwIYnXixbMS9gs7/view?usp=sharing" target="_blank">Vereins-Statuen</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-logo">
                            <img src="{% static 'landing/images/logos/qat-white.svg' %}" alt="">
                        </div>
                        <div class="footer-header">
                            <nav class="level is-mobile">
                                <div class="level-left level-social">
                                    <a href="https://www.facebook.com/quidditchAT/" class="level-item">
                                        <span class="icon"><i class="fa fa-facebook"></i></span>
                                    </a>
                                    <a href="https://twitter.com/quidditchaut" class="level-item">
                                        <span class="icon"><i class="fa fa-twitter"></i></span>
                                    </a>
                                    <a href="https://www.instagram.com/quidditchaustria/" class="level-item">
                                        <span class="icon"><i class="fa fa-instagram"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="copyright">
                            <span class="moto light-text">Made with <i class="fa fa-heart color-red"></i> by Jürgen.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Dark footer -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
{% endblock footer %}

{% block javascript %}
    <script src="{% static 'landing/js/app.js' %}"></script>

    <!-- Bulkit js -->
    <script src="{% static 'landing/js/agency.js' %}"></script>
    <script src="{% static 'landing/js/contact.js' %}"></script>
    <script src="{% static 'landing/js/main.js' %}"></script>
    {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}

</body>
</html>

