{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Player: {{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block content %}
      <h2>{{ object.first_name }} {{ object.last_name }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}

{% if object == request.user %}
<!-- Action buttons -->
    {% thumbnail object.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

    <a class="button is-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="button is-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->

<!-- End Action buttons -->
{% endif %}
{% endblock content %}

